$document-background-color: #e7e7e7;
$default-text-color: #555;
$light-text-color: #fff;
$form-border-color: #eee;
$form-background-color: #f8f8f8;
$form-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.82);

$primary-white: #fff;
