// bower:scss
// endbower

@import './normalize';
@import './variables';
@import './main-nav';
@import './common/form';
@import './accounts/account-creation-form';
@import './events/event-creation-form';
@import './home/home-page';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $document-background-color;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.browserupgrade {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

.page {
  display: none;
}

.visible {
  display: block;
}
