%form {
  background: $primary-white;
  color: $default-text-color;
  margin: 0 auto;
  max-width: 440px;

  &__input {
    border: 0;
    border-bottom: 5px solid rgb(210, 214, 223);
    font-size: 1em;
    outline: none;
    padding: 8px 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__label {
    cursor: pointer;
    display: block;
    font-size: 1em;
    margin-bottom: 4px;
  }

  &__submit-button {
    background: $default-button-color;
    border: 0;
    color: $light-text-color;
    cursor: pointer;
    font-size: 1em;
    outline: none;
    padding: 1em 0;
    width: 100%;

    &:hover {
      background: $default-button-color-hover;
    }

    &:active {
      background: $default-button-color-active;
    }
  }
}

.form-section-container {
  width: 100%;
}

.form-content-container {
  padding: 16px;
}

.form {
  &__error-message {
    color: $input-invalid-color;
    margin-top: 8px;
  }

  &__input-valid {
    border-color: $input-valid-color;
  }

  &__input-invalid {
    border-color: $input-invalid-color;
  }
}



