.displayed-event {
  color: $primary-white;
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: flex-end;
  margin: 8px 16px;
  width: 300px;
  padding: 16px;

  &__location {
    color: $secondary-white;
  }

  &__item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
