.event-form {
  @extend %form;

  &__input {
    @extend %form__input;
  }

  &__label {
    @extend %form__label;
  }

  &__submit-button {
    @extend %form__submit-button;
  }

  &__end-input,
  &__start-input {
    display: flex;
    justify-content: space-between;
  }
}

#event-form__end-time,
#event-form__end-date,
#event-form__start-time,
#event-form__start-date {
  cursor: pointer;
}

#event-form__start-time,
#event-form__end-time {
  width: 100px;
}

@media only screen
  and (min-width: 768px) {
  .event-form {
    &__end-input,
    &__start-input {
      display: inline-flex;
      justify-content: flex-start;
    }
  }

  #event-form__end-date,
  #event-form__start-date {
    width: 150px;
  }

  #event-form__end-time,
  #event-form__end-date,
  #event-form__start-time,
  #event-form__start-date {
    margin-right: 20px;
  }
}

